# Зависимости
node_modules/
dist/

# Переменные окружения (КЛЮЧИ И ПАРОЛИ)
.env
.env.local

# Сессия Телеграм (чтобы никто не украл твой аккаунт)
*.session
*.session-journal

# персональная информация
resume.md

# Логи и временные файлы
*.log
.DS_Store

/src/generated/prisma
